.card-body {
    border: 1px solid lightgrey;
    display: block;
    width: auto;
}

h1, main, .form, .div, input, .full-width {
    position: relative;
    padding-bottom: 8px;
    text-align: center;
}